html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em 'ubuntu', ubuntu, ubuntu;
  background: #000000 url(pattern.png) repeat fixed;
  color: #5D5D5D;}

p
{ padding: 0 0 15px 0;
  line-height: 1.5em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: normal 175% 'ubuntu', ubuntu, ubuntu;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;}

h2
{ font: normal 175% 'ubuntu', ubuntu, ubuntu;
  color: #5d5d5d;
  padding: 15px 0 5px 0;}

h3
{ font: normal 165% 'ubuntu', ubuntu, ubuntu;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% ubuntu, ubuntu;
  color: #B60000;}

h5, h6
{ font: italic 95% ubuntu, ubuntu;
  color: #888;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #51A9FB;}

a:hover
{ text-decoration: none;
  color: #5D5D5D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}


.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #header, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#main
{ width: 950px;
  margin: 20px auto;}

#header
{ width: 950px;
  height: 121px;}

#logo
{ width: 910px;
  position: relative;
  height: 100px;
  background: transparent;
  padding: 10px 0 10px 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 0px 0 0 0;
  color: #A8AA94;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #A8AA94;}

#menubar
{ height: 46px;
  width: 950px;
  margin: 1px auto 0 auto;
  background: transparent url(tab.png);} 

ul#menu
{ float: left;
  margin: 0;padding: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 6px;
  list-style: none;
  margin: 0px 2px 0 0;}

ul#menu li a
{ font: normal 100% 'ubuntu', ubuntu;
  display: block; 
  float: left; 
  height: 27px;
  padding: 12px 28px 5px 22px;
  text-align: center;
  color: #FFF;
  border-right: 1px solid #636363;
  text-decoration: none;} 

ul#menu li.tab_selected a
{ height: 27px;
  padding: 6px 28px 5px 22px;}

ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #ECEF01;}

ul#menu li a:hover
{ color: #ECEF01;}

#site_content
{ width: 925px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 10px 10px 10px 10px;
  background: #EEE;
  border-top: 0;
  border-bottom: 0;
  color: #5D5D5D;} 

	

#content ul
{ margin: 2px 0 12px 0px;}



#footer
{ width: 950px;
  font: normal 90% 'ubuntu',  ubuntu, ubuntu;
  height: 65px;
  padding: 20px 0 5px 0;
  text-align: center; 
  color: #FFF;
  background: transparent url(tab.png) repeat;}

#footer p
{ padding: 0 0 10px 0;}

#footer a, #footer a:hover
{ color: #FFF;
  text-decoration: underline;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}


.separator
{ width: 100%;
  height: 0;
  border-top: 1px solid #D9D5CF;
  border-bottom: 1px solid #FFF;
  margin: 0 0 20px 0;}
  
table
{ margin: 10px 0 30px 0;}

table tr th, table tr td
{ background: #3B3B3B;
  color: #FFF;
  padding: 7px 4px;
  text-align: left;}
  
table tr td
{ background: #DDD;
  color: #47433F;
  border-top: 1px solid #FFF;}
